
*
!.gitignore
!COPYING
!JuceBoilerplate.jucer
!LICENSES.md
!README.md

!Assets/
!Assets/audio-x-generic.png
!Assets/COPYING_ASSETS
!Assets/README.md

!Builds/
!Builds/Makefile/
!Builds/Makefile/Makefile
!Builds/Packaging/
!Builds/Packaging/PKGBUILD

!Documentation/
!Documentation/COPYING_DOCUMENTATION
!Documentation/README.md

!JuceLibraryCode/
!JuceLibraryCode/AppConfig.h
!JuceLibraryCode/BinaryData.cpp
!JuceLibraryCode/BinaryData.h
!JuceLibraryCode/include_juce_*.cpp
!JuceLibraryCode/include_juce_*.mm
!JuceLibraryCode/JuceHeader.h
!JuceLibraryCode/ReadMe.txt

!Source/
!Source/Main.cpp

!Source/Constants/
!Source/Constants/AppConstants.cpp
!Source/Constants/AppConstants.h
!Source/Constants/GuiConstants.cpp
!Source/Constants/GuiConstants.h
!Source/Constants/MediaConstants.cpp
!Source/Constants/MediaConstants.h
!Source/Constants/StorageConstants.cpp
!Source/Constants/StorageConstants.h

!Source/Controllers/

!Source/Models/
!Source/Models/JuceBoilerplateStore.cpp
!Source/Models/JuceBoilerplateStore.h
!Source/Models/Seeds.cpp
!Source/Models/Seeds.h

!Source/Trace/
!Source/Trace/Trace.cpp
!Source/Trace/Trace.h
!Source/Trace/TraceJuceBoilerplateStore.h
!Source/Trace/TraceWaveform.h

!Source/Views/
!Source/Views/MainContent.cpp
!Source/Views/MainContent.h
!Source/Views/Statusbar.cpp
!Source/Views/Statusbar.h
!Source/Views/Waveform.cpp
!Source/Views/Waveform.h
