*
!.gitignore
!AudioTagToo.jucer
!COPYING
!LICENSES.md
!README.md

!Assets/
!Assets/accessories-text-editor.png
!Assets/audio-x-generic.png
!Assets/COPYING_ASSETS
!Assets/list-add.png
!Assets/media-playback-start.png
!Assets/process-stop.png
!Assets/README.md

!Builds/
!Builds/Makefile/
!Builds/Makefile/Makefile
!Builds/Packaging/
!Builds/Packaging/PKGBUILD

!Documentation/
!Documentation/COPYING_DOCUMENTATION
!Documentation/README.md

!JuceLibraryCode/
!JuceLibraryCode/AppConfig.h
!JuceLibraryCode/BinaryData.cpp
!JuceLibraryCode/BinaryData.h
!JuceLibraryCode/include_juce_*.cpp
!JuceLibraryCode/include_juce_*.mm
!JuceLibraryCode/JuceHeader.h
!JuceLibraryCode/ReadMe.txt

!Source/
!Source/Main.cpp

!Source/Constants/
!Source/Constants/AppConstants.cpp
!Source/Constants/AppConstants.h
!Source/Constants/GuiConstants.cpp
!Source/Constants/GuiConstants.h
!Source/Constants/MediaConstants.cpp
!Source/Constants/MediaConstants.h
!Source/Constants/StorageConstants.cpp
!Source/Constants/StorageConstants.h

!Source/Controllers/
!Source/Controllers/AudioTagToo.cpp
!Source/Controllers/AudioTagToo.h

!Source/Models/
!Source/Models/AudioTagTooStore.cpp
!Source/Models/AudioTagTooStore.h
!Source/Models/Seeds.cpp
!Source/Models/Seeds.h

!Source/Trace/
!Source/Trace/Trace.cpp
!Source/Trace/Trace.h
!Source/Trace/TraceAlert.h
!Source/Trace/TraceAudioTagToo.h
!Source/Trace/TraceAudioTagTooStore.h
!Source/Trace/TraceClipsTable.h
!Source/Trace/TraceMain.h
!Source/Trace/TraceWaveform.h

!Source/Views/
!Source/Views/Alert.cpp
!Source/Views/Alert.h
!Source/Views/Clip.cpp
!Source/Views/Clip.h
!Source/Views/ClipsTable.cpp
!Source/Views/ClipsTable.h
!Source/Views/ConfigMetadata.cpp
!Source/Views/ConfigMetadata.h
!Source/Views/MainContent.cpp
!Source/Views/MainContent.h
!Source/Views/Statusbar.cpp
!Source/Views/Statusbar.h
!Source/Views/Waveform.cpp
!Source/Views/Waveform.h
