*
!JuceBoilerplate.jucer
!.gitignore

!Assets/
!Assets/audio-x-generic.png

!Builds/
!Builds/Makefile/
!Builds/Makefile/Makefile

!JuceLibraryCode/
!JuceLibraryCode/*

!Source/
!Source/Main.cpp

!Source/Constants/
!Source/Constants/AppConstants.cpp
!Source/Constants/AppConstants.h
!Source/Constants/GuiConstants.cpp
!Source/Constants/GuiConstants.h
!Source/Constants/MediaConstants.cpp
!Source/Constants/MediaConstants.h
!Source/Constants/StorageConstants.cpp
!Source/Constants/StorageConstants.h

!Source/Controllers/

!Source/Models/
!Source/Models/JuceBoilerplateStore.cpp
!Source/Models/JuceBoilerplateStore.h
!Source/Models/Seeds.cpp
!Source/Models/Seeds.h

!Source/Views/
!Source/Views/MainContent.cpp
!Source/Views/MainContent.h
!Source/Views/Statusbar.cpp
!Source/Views/Statusbar.h
!Source/Views/Waveform.cpp
!Source/Views/Waveform.h
